body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.chg{
        margin-top: -8%;
        margin-left: 103%;
}

.chg1{
  margin-top: -25%;
}


